.card {
  float: left;
  border: solid 1px black;
  width: 125px;
  border-radius: 5px;
  height: 170px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.covered {
  background-color: black;
}

.hand {
  color: white;
  /*overflow: auto;*/
}

.windoze {
  width: 100px;
  height: auto;
}

body {
  padding: 30px;
  background-image: url('../img/fakeGrass.jpg');
}

.score-container {
  color: white;
}
